service firebase.storage {
  match /b/{bucket}/o {
    match /toko/{uid}/produk/{filename} {
      allow read, write: if request.auth.uid == uid;
    }
  }
}
